<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/StephanWagner/jBox@v1.0.5/dist/jBox.all.min.js"></script>
<link href="https://cdn.jsdelivr.net/gh/StephanWagner/jBox@v1.0.5/dist/jBox.all.min.css" rel="stylesheet">
<link rel="stylesheet" href="stylesheets/index.css">
<script src="javascripts/index.js" defer></script>

<div id="body-content">
    <form method="post" id="submitForm">
        <h3>Choose your size:</h3>
        <div class="sizes-radio">
            <input type="radio" name="size" value="large" id="large" checked="checked"><label for="large">{{large}} - {{largePrice}}</label>
        </div>
        <div class="sizes-radio">
            <input type="radio" name="size" value="medium" id="medium"><label for="medium">{{medium}} - {{mediumPrice}}</label>
        </div>
        <div class="sizes-radio">
            <input type="radio" name="size" value="small" id="small"><label for="small">{{small}} - {{smallPrice}}</label>
        </div>
        <div class="sizes-radio" id="sizes-personal">
            <input type="radio" name="size" value="personal" id="personal"><label for="personal">{{personal}} - {{personalPrice}}</label>
        </div><br/><br/>

        <h3>Choose your crust:</h3>
        {{#listCrusts crustTypes}}{{name}} &#127829; {{description}}<br>{{/listCrusts}}<br/>

        <h3>Choose your toppings:</h3>
        <ul class="toppings_list">
            {{#each toppingTypes}}
                <div class="topping">
                    <input type="checkbox" name="toppings" class="checkboxes" id={{#kebabCase this}}{{/kebabCase}} value={{#removeSpaces this}}{{/removeSpaces}}>
                    <label for={{#kebabCase this}}{{/kebabCase}}>{{this}}</label>
                </div>
            {{/each}}
        </ul>
        <small>* First 2 toppings are free. Extra toppings are ${{toppingPrice}} each.</small><br/><br/>
        <label id="labelQty">Quantity: </label>
        <select name="quantity" id="dropDownQty">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select><br/><br/>
        <div id="customer-div">
            <h3>Customer Information</h3>
            <table>                
                <tr>
                    <td><label for="name">Name:</label></td>
                    <td><input type="text" id="name" name="name" required minlength="2"></td>
                </tr>
                
                <tr>
                    <td><label for="phone">Phone number:</label></td>
                    <td><input type="text" id="phone" name="phone" placeholder="604-123-5555" required minlength="10" maxlength="12"></td>
                </tr>
                <tr>
                    <td><label for="address">Address:</label></td>
                    <td><input type="text" id="address" name="address" placeholder="110-500 Main St" required></td>
                </tr>
                <tr>
                    <td><label for="city">City:</label></td>
                    <td><input type="text" id="city" name="city" required></td>
                </tr>
                <tr>
                    <td><label for="postal">Postal code:</label></td>
                    <td><input type="text" id="postal" name="postal" placeholder="V5H 2L4" required minlength="6" maxlength="7"></td>
                </tr>        
                <tr>
                    <td></td><td><button type="submit">Order</button><button type="button" id="clearForm">Clear</button></td> 
                </tr>         
            </table>
            <p id="statusMsg"></p>
        </div>
    </form>
</div>